# virtual environment
lvlh_env/

# python build artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# simulation data and figures 
data/
figures/

# OS system files
.DS_Store

# specific files 
scripts/final_plot_scripts/Scurves_fig_3_and_4stage.py
scripts/final_plot_scripts/Scurves_fig_4stage.py
